.ham-dropdown {
    display: none;

    &__button {
        .menu-icon {
            transition: transform 0.3s ease;
        }
    
        &.is-open .menu-icon {
            transform: rotate(90deg);
        }

        &:focus {
            outline: none;
        }
    }

    &__content {
        @include flex($align: start, $gap: 10px);
        background-color: #fff;
        margin-top: 25px;
        border-radius: 12px;
        padding: 20px 50px 25px 25px;
        width: 225px;

        .language-button {
            box-shadow: 0 3px 0px rgba(0,0,0,0.2);
        }
    }

    &__item {
        transition: transform 0.3s ease-out;
        outline: none;

        &:focus {
            outline: none;
        }

        .chakra-menu__item {
            @include body-font($color: $blue-main, $size: 18px, $weight: 300);
            padding: 8px 0px;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

        &:hover {
            transform: translateX(6px);
        }

        &-active {
            font-weight: 600;

            &:hover {
                transform: translateX(6px); 
              }
        }
    }

    @include responsive(smedium) {
        display: block;

        &__content {
            .language-button {
                transition: transform 0.3s ease-out;
                width: 150px;
                height: 35px;

                &__icon {
                    height: 35px;
                    width: 35px;
                }

                &__text {
                    font-size: 16px;
                    margin-left: 20px;
                }

                &:hover {
                    width: 150px;
                    transform: translateX(10px);
                }
            }
        }
    }

    @include responsive(small) {
        &__content {
            width: 90vw;
            gap: 15px;
            padding-bottom: 30px;
        }

        &__item {
            .chakra-menu__item {
                font-size: 20px;
                padding: 14px 0px;
                background-color: transparent;
            }

            
        }
    }
}