html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.lang-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// Logo fonts (Aileron)
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/Aileron-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/fonts/Aileron-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

// Utilities
@import './utils/variables';
@import './utils/mixins';

// Components
@import './components/navbar';
@import './components/footer';
@import './components/ham-dropdown';
@import './components/language-button';
@import './components/fold-button';

// Pages 
@import './pages/home-page';

body {
	background-color: $background-main; 
}
