@mixin body-font($size: 12px, $weight: 400, $color: $gray-light) {
    font-family: $font-body;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin title-font($size: 18px, $weight: 600, $color: $gray-light) {
    font-family: $font-title;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $size;
}

@mixin logo-font($size: 20px, $weight: 700, $color: $blue-main) {
  font-family: $font-logo;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $size;
}

@mixin flex($direction: column, $gap: 0px, $align: center, $justify: center) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
    align-items: $align;
    justify-content: $justify;
  }
  
  @mixin grid($rows: auto auto, $columns: auto auto, $gap: 0px){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap: $gap;
  }

  @mixin responsive($breakpoint) {
    @if $breakpoint == small {
      @media (max-width: 550px) { @content; }
    } 
    @else if $breakpoint == smedium {
      @media (max-width: 800px) { @content; }
    } 
    @else if $breakpoint == medium {
      @media (max-width: 1200px) { @content; }
    } 
    @else if $breakpoint == large {
      @media (max-width: 1440px) { @content; }
    }
}