//Colors
$blue-main: #031472;
$blue-secondary: #355FB5;
$blue-tertiary: #1583F0;
$blue-quarternary: #2C4B8C;
$blue-dark: #17294F;
$purple-main: #D53686;
$green-main: #85AF59;
$yellow-main: #E1BD2A;
$gray-dark: #41424A;
$gray-light: #747783;
$gray-placeholder: #B7B7B7;
$gray-logo: #888888;
$background-main: #f5f5f5;
$background-secondary: #f6f6f6;
$cream-main: #f7ede3;

// Fonts
$font-page: var(--font-montserrat), sans-serif;
$font-logo: var(--font-varela-round), sans-serif;