//Colors
$blue-main: #355FB5;
$blue-secondary: #2087C9;
$blue-tertiary: #1683F0;
$purple-main: #B490F0;
$green-main: #00BF63;
$yellow-main: #FFDE59;
$gray-dark: #41424A;
$gray-light: #747783;
$gray-logo: #888888;
$background-main: #f5f5f5;
$background-secondary: #f6f6f6;
$cream-main: #f7ede3;

// Fonts
$font-title: var(--font-ls), sans-serif;
$font-body: var(--font-p), sans-serif;
$font-logo: 'Aileron', sans-serif;