.about-page {
    @include flex();

    // Introducction
    &__intro {
        @include flex($direction: row, $gap: 80px);
        width: 100%;
        max-width: 1440px;
        margin-top: 80px;
        padding: 0px 50px;

        &--image {
            border-radius: 15px;
            box-shadow: -18px 18px 0px $blue-tertiary; 
            height: auto;
            width: 450px;
            user-select: none;
        }

        &--text {
            @include flex($align: start, $gap: 25px);
            max-width: 650px;
            text-align: justify;

            h2 {
                @include title-font($size: 45px, $color: $blue-tertiary);
            }

            p {
                @include body-font($size: 18px, $color: $gray-light);
                line-height: 32px;
            }
        }
    }

    //Middle
    &__middle {
        @include flex($direction: row, $gap: 95px);
        width: 100%;
        max-width: 1440px;
        margin: 60px 0 80px;
        padding: 0px 50px;

        &--wrapper {
            @include flex();
            overflow: hidden;
            width: 100%; 
        }

        &--image {
            border-radius: 15px;
            box-shadow: -18px 18px 0px $yellow-main;
            object-fit: cover;
            height: 300px;
            width: 450px;
            user-select: none;
            overflow: hidden;
        }

        &--text {
            @include flex($align: start, $gap: 25px);
            max-width: 650px;
            text-align: justify;

            ul {
                list-style-type: disc;
                padding-left: 20px;
            }

            p, li {
                @include body-font($size: 18px, $color: $gray-light);
                line-height: 32px;
            }
        }
    }

    // Philosophy
    &__philosophy {
        @include grid($columns: repeat(auto-fit, minmax(300px, 1fr)));
        width: 100%;
        max-width: 1350px;
        justify-items: center;
        margin-top: 80px;
        margin-bottom: 80px;
        padding: 0px 50px;
    }

    // Members
    &__members {
        position: relative;
        width: 100%;
        min-height: 100vh;

        img {
            user-select: none;
        }

        h3, h2 {
            @include title-font($size: 28px, $weight: 500, $color: #fff);
            text-align: center;
        }
        
        h2 {
            font-size: 36px;
            font-weight: 700;
        }

        &--overlay {
            @include flex($justify: start, $gap: 40px);
            padding: 65px 25px;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100vh;
            background: linear-gradient(to left, rgba($blue-main, 0.20), rgba($blue-main, 0.70));
            z-index: 1;
        }

        &--cards {
            @include grid($columns: repeat(auto-fit, minmax(300px, 1fr)));
            width: 100%;
            max-width: 1200px;
            justify-items: center;
        }
    }

    // Life
    &__life {
        @include flex($gap: 50px);
        padding: 50px;
        width: 100%;
        max-width: 1440px;
        margin-bottom: 40px;
        overflow: hidden;

        h3 {
            @include title-font($size: 28px, $weight: 500, $color: $blue-main);
        }

        &--content {
            @include flex($direction: row, $gap: 80px);
        }

        &--image {
            border-radius: 15px;
            box-shadow: -18px 18px 0px $green-main;
            object-fit: cover;
            height: 300px;
            width: 450px;
            user-select: none;
        }
        
        &--text {
            @include flex($align: start, $gap: 25px);
            max-width: 650px;
            text-align: justify;

            p {
                @include body-font($size: 18px, $color: $gray-light);
                line-height: 32px;
            }
        }
    }

    // Responsive
    @include responsive(medium) {
        &__intro, &__middle {
            gap: 50px;

            &--image {
                box-shadow: -14px 14px 0px $blue-tertiary; 
            }

            &--text {
                gap: 15px;

                h2 {
                   font-size: 40px;
                }
            }
        }

        &__middle {
            &--image {
                box-shadow: -14px 14px 0px $yellow-main; 
            }
        }

        &__philosophy {
            max-width: 950px;
            margin-bottom: 0px;

            > *:nth-child(3) {
                grid-column: span 2;
            }
        }

        &__members {
            &--cards {
                max-width: 900px;
                row-gap: 4vw !important;

                > *:nth-child(3) {
                    grid-column: span 2;
                }
            }
        }

        &__life {
            &--content {
                gap: 50px;
            }

            &--image {
                box-shadow: -14px 14px 0px $green-main; 
                height: 250px;
            }
        }
    }

    @include responsive(smedium) {
        &__intro {
            @include flex($direction: column, $gap: 40px);
            margin-top: 40px;

            &--image {
                order: 2;
            }

            &--text {
                max-width: 100%;
                gap: 10px;

                h2 {
                    font-size: 36px;
                }
    
                p {
                    font-size: 16px;
                }
            }
        }

        &__middle {
            @include flex($direction: column, $gap: 40px);
            margin-top: 60px 0;

            &--text {
                max-width: 100%;
                gap: 10px;
    
                p, li {
                    font-size: 16px;
                }
            }
        }

        &__philosophy {
            grid-template-columns: 1fr;
            padding: 0px 40px;
            margin-top: 100px;

            > *:nth-child(3) {
                grid-column: span 1;
            }
        }

        &__members {
            h3 {
                font-size: 26px;
            }

            h2 {
                font-size: 32px;
            }

            &--overlay {
                padding: 65px 50px;
                gap: 30px;
            }

            &--cards {
                grid-template-columns: 1fr;

                > *:nth-child(3) {
                    grid-column: span 1;
                }
            }
        }

        &__life {
            gap: 30px;
            padding: 50px 30px;

            h3 {
                font-size: 26px;
            }

            &--content {
                @include flex($direction: column, $gap: 60px);
            }

            &--image {
                order: 2;
                height: 300px;
            }

            &--text {
                max-width: 100%;
    
                p {
                    font-size: 16px;
                }
            }
        }
    }

    @include responsive(small) {
        &__intro, &__middle {
            padding: 0px 30px;

            &--image {
                width: auto;
            }
        }
    }

    &__life {
        &--image {
            width: auto;
        }
    }
}