 .contact-page {
    @include flex();
    padding: 50px;
    min-height: 90vh;
    
    &__card {
        @include flex($direction: row);
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
        max-width: 1440px;
        height: 700px;
    }

    &__left {
        @include flex($align: start, $justify: space-between);
        width: 100%;
        height: 100%;
        padding: 50px;
        flex: 1;

        h1 {
            @include title-font($size: 45px, $color: $blue-tertiary);
        }

        p {
            @include body-font($size: 18px);
            line-height: 36px;
            text-align: justify;
        }

        &--top {
            @include flex($align: start, $gap: 15px);
        }

        &--middle {
            @include flex($align: start, $gap: 20px);
        }

        &--social {
            @include flex($direction: row,  $justify: start, $gap: 15px);
        }

        &--bottom {
            @include flex($direction: row,  $justify: start, $gap: 20px);
        }

        hr {
            width: 100%;
            border-color: $gray-placeholder;
            background-color: $gray-placeholder;
        }
    }

    &__right {
        background-color: $blue-secondary;
        border-radius: 20px;
        box-shadow: -6px 0 6px rgba(0, 0, 0, 0.3);
        padding: 50px;
        flex: 1;
    }
}

// Responsive medium
@include responsive(medium) {
    .contact-page {
        padding: 60px 40px;

        &__card {
            @include flex();
            height: fit-content;
            max-width: 700px;
        }

        &__left {
            @include flex($align: start, $gap: 30px);
            padding: 40px;

            h1 {
                font-size: 42px;
            }
        }

        &__right {
            box-shadow: 0 -6px 6px rgba(0, 0, 0, 0.3);
            width: 100%;
            padding: 40px;
        }
    }
}

// Responsive smedium
@include responsive(smedium) {
    .contact-page {
        padding: 60px 40px;

        &__left {
            h1 {
                font-size: 40px;
            }
    
            p {
                font-size: 16px;
                line-height: 34px;
            }
        }
    }
}

// Responsive small
@include responsive(small) {
    .contact-page {
        padding: 60px 30px;

        &__left {
            padding: 30px;

            &--social {
                overflow-wrap: break-word; 
                word-break: break-word;
                
                p {
                    line-height: 25px;
                }
            }
        }

        &__right {
            padding: 30px;
        }
    }
}