.family-page {
    @include flex();

    // Intro
    &__intro {
        position: relative;
		width: 100%;
		height: 560px;
        user-select: none;

        &--overlay {
			@include flex();
			position: absolute;
			padding: 50px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.2);
			z-index: 2;
		}

        &--text {
            @include flex($align: start, $gap: 20px);
            width: 100%;
            max-width: 1440px;
            user-select: text;

            h1 {
				@include title-font($size: 80px, $weight: 500, $color: #fff);
				text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.7);
                width: 100%;
                max-width: 900px;
                text-align: start;
			}

            p {
                @include body-font($size: 20px, $color: #fff);
                line-height: 30px;
                max-width: 700px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
            }
        }
    }

    // Question
    &__question {
        @include flex($direction: row, $gap: 95px);
        padding: 100px 50px;
        max-width: 1440px;
        
        &--wrapper {
            overflow: hidden;
        }

        &--image {
            position: relative;
            width: 350px;
            height: 250px;
            box-shadow: -18px 18px 0px $blue-tertiary;
            border-radius: 15px;
            overflow: hidden;
            flex-shrink: 0;
            user-select: none;
        }

        &--text {
            @include flex($gap: 30px);
            max-width: 800px;

            h3 {
                @include title-font($size: 45px, $color: $blue-tertiary);
            }

            p {
                @include body-font($size: 18px);
                line-height: 36px;
                text-align: justify;
            }
        }
    }

    // Meaning
    &__meaning {
        position: relative;
        width: 100%;
        min-height: fit-content; 
        height: auto; 

        img {
            user-select: none;
        }

        &--overlay {
            @include flex($justify: start, $gap: 60px);
            padding: 100px 50px;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            min-height: fit-content;
            height: auto; 
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;

            h3 {
                @include title-font($size: 28px, $weight: 500, $color: #fff);
                text-align: center;
                text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.7);
            }

            ul {
                list-style-type: disc;
                padding-left: 40px;
            }

            li, p {
                @include body-font($size: 18px, $color: $gray-dark);
                line-height: 34px;
                text-align: justify;
            }
        }

        &--card {
            @include flex($align: start, $gap: 10px);
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 25px;
            padding: 40px 60px;
            box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3); 
        }
    }

    // Middle 
    &__middle {
        @include flex($direction: row, $gap: 60px);
        padding: 80px 50px;
        max-width: 1440px;

        &--image {
            position: relative;
            width: 300px;
            height: 350px;
            box-shadow: -18px 18px 0px $purple-main;
            border-radius: 15px;
            overflow: hidden;
            flex-shrink: 0;
            user-select: none;
        }

        > p {
            @include body-font($size: 18px);
            line-height: 36px;
            max-width: 800px;
            text-align: justify;
        }
    }

    // Benefits
    &__benefits {
        @include flex($gap: 80px);
        padding: 20px 50px 100px;
        
        &--text {
            h3 {
                @include title-font($size: 28px, $weight: 500, $color: $blue-main);
            }
        }

        &--cards {
            @include grid($rows: auto, $columns: repeat(auto-fit, minmax(300px, 1fr)), $gap: 0px);
            justify-content: center;
            max-width: 1440px;

            > .benefit-card {
                h4 {
                    max-width: 250px;
                }
            }
        }
    }

    // Join
    &__join {
        @include flex($gap: 60px);
        padding: 60px 50px 100px;
        max-width: 1300px;
        overflow: hidden;

        h3 {
            @include title-font($size: 45px, $color: $blue-tertiary);
            text-align: center;
            max-width: 900px;
        }

        &--bottom {
            @include flex($direction: row, $gap: 80px);

            p {
                @include body-font($size: 18px);
                line-height: 36px;
                text-align: justify;
                flex: 1;
            }
        }

        &--contact {
            @include flex($gap: 20px);
            background-color: $blue-secondary;
            padding: 25px 40px;
            border-radius: 20px;
            flex: 1;

            > p {
                @include body-font($size: 18px, $color: #fff);
                line-height: 36px;
                text-align: justify;
            }
        }
    }
}

// Responsive large 
@include responsive(large) {
    .family-page {
        &__benefits {
            &--cards {
                @include grid($rows: auto, $columns: repeat(auto-fit, minmax(250px, 1fr)), $gap: 0px);
            }
        }
    }
}

// Responsive medium
@include responsive(medium) {
    .family-page {
        &__intro {
            &--overlay {
                padding: 40px;
            }

            &--text {
                h1 {
                    font-size: 70px;
                    line-height: 70px;
                    max-width: 900px;
                }
            }
        }

        &__question {
            gap: 50px;
            padding: 100px 40px;

            &--image {
                box-shadow: -14px 14px 0px $blue-tertiary;
            }

            &--text {
                h3 {
                    font-size: 42px;
                }
            }
        }

        &__meaning {
            &--overlay {
                padding: 100px 40px;
            }
    
            &--card {
                padding: 40px 50px;
            }
        }

        &__middle {
            padding: 80px 40px;
            gap: 50px;

            &--image {
                box-shadow: -14px 14px 0px $purple-main;
            }
        }

        &__benefits {
            padding: 20px 40px 80px;
    
            &--cards {
                grid-template-columns: 1fr 1fr;
                column-gap: 40px;
                row-gap: 60px;
            }
        }

        &__join {
            padding: 60px 40px 100px;

            h3 {
                font-size: 42px;
            }

            &--bottom {
                gap: 50px; 
            }
        }
    }
}

// Responsive smedium
@include responsive(smedium) {
    .family-page {
        &__intro {
            &--text {
                p {
                    font-size: 18px;
                    max-width: 100%;
                }
            }
        }

        &__question {
            @include flex($gap: 40px);
            padding: 40px 40px 80px;

            &--text {
                h3 {
                    font-size: 40px;
                    max-width: 100%;
                }

                p {
                    font-size: 14px;
                    line-height: 34px;
                }
            }
        }

        &__meaning {
            &--overlay {
                padding: 80px 40px;
                gap: 40px;
    
                h3 {
                    font-size: 26px;
                }

                ul {
                    padding-left: 20px;
                }
    
                li, p {
                    font-size: 16px;
                    line-height: 32px;
                }
            }
    
            &--card {
                @include flex($align: start, $gap: 5px);
                padding: 30px 40px;
            }
        }

        &__middle {
            @include flex($gap: 60px);
            padding: 60px 40px;
            max-width: 1440px;

            > p {
                font-size: 16px;
                line-height: 34px;
            }
        }

        &__benefits {
            gap: 60px;
            padding: 0px 40px 80px;

            > h3 {
                font-size: 26px;
                text-align: center;
                max-width: 350px;
            }

            &--cards {
                grid-template-columns: 1fr;
                row-gap: 60px;
            }
        }

        &__join {
            gap: 40px;
            padding: 40px 40px 80px;
    
            h3 {
                font-size: 40px;
            }
    
            &--bottom {
                @include flex($gap: 40px);
    
                > p {
                    font-size: 16px;
                    line-height: 34px;
                }
            }
    
            &--contact {
                max-width: 500px;
    
                > p {
                    font-size: 16px;
                    line-height: 34px;
                }
            }
        }
    }
}

// Responsive small
@include responsive(small) {
    .family-page {
        &__intro {
            &--overlay {
                padding: 30px;
            }

            &--text {
                h1 {
                    font-size: 44px;
                    line-height: 44px;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        &__question {
            padding: 30px 30px 80px;
            gap: 30px;

            &--image {
                width: 90%;
                max-width: 350px;
            }

            &--text {
                gap: 20px;

                h3 {
                    font-size: 34px;
                }
            }
        }

        &__meaning {
            &--overlay {
                padding: 80px 30px;
            }
    
            &--card {
                gap: 0;
                padding: 30px;
            }
        }

        &__middle {
            padding: 60px 30px;

            &--image {
                width: 80%;
                max-width: 300px;
            }
        }

        &__benefits {
            gap: 40px;
            padding: 0px 30px 80px;
        }

        &__join {
            padding: 0px 30px 80px;
            gap: 30px;
    
            h3 {
                font-size: 34px;

            }
    
            &--contact {
                padding: 30px;
            }
        }
    }
}