.inter-page {
    @include flex();

    // Intro
    &__intro {
        position: relative;
		width: 100%;
		height: 560px;

        &--overlay {
			@include flex();
			position: absolute;
			padding: 50px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.2);
			z-index: 2;
		}

        &--text {
            @include flex($align: start, $gap: 20px);
            width: 100%;
            max-width: 1440px;
            animation: slideInLeft 0.8s ease-out forwards;

            h1 {
				@include title-font($size: 80px, $weight: 500, $color: #fff);
				text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.7);
                width: 100%;
                max-width: 600px;
                text-align: start;
			}

            p {
                @include body-font($size: 20px, $color: #fff);
                line-height: 30px;
                max-width: 700px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
            }
        }
    }

    // Info
    &__info {
        @include flex($align: start, $gap: 40px);
        max-width: 1200px;
        padding: 50px;

        &--title {
            @include flex($direction: row, $justify: start, $gap: 20px);

            h2 {
                @include title-font($size: 45px, $color: $blue-tertiary);
            }
        }

        &--image-1, &--image-2, &--image-3 {
            position: relative;
            border-radius: 15px;
            overflow: hidden;
            flex-shrink: 0;
        }

        &--image {
            &-1 {
                width: 300px;
                height: 300px;
                box-shadow: -18px 18px 0px $green-main;
            }

            &-2 {
                width: 250px;
                height: 350px;
                box-shadow: -18px 18px 0px $purple-main;

                img {
                    object-position: 50% 20%;
                }
            }

            &-3 {
                width: 350px;
                height: 250px;
                box-shadow: -18px 18px 0px $yellow-main;
            }
        }

        &--left {
            @include flex($direction: row, $gap: 80px);
            margin-bottom: 30px;
            animation: slideInLeft 0.8s ease-out 0.2s forwards;
        }

        &--right {
            @include flex($direction: row, $gap: 95px);
            margin-bottom: 30px;
            animation: slideInRight 0.8s ease-out 0.2s forwards;
        }

        &--text {
            @include body-font($size: 18px, $color: $gray-light);
            line-height: 32px;
            text-align: justify;
        }
    }

    // Benefits 
    &__benefits {
        @include flex($gap: 60px);
        padding: 50px 50px 100px;

        &--text {
            @include flex($gap: 40px);
            max-width: 1200px;

            h3 {
                @include title-font($size: 28px, $weight: 500, $color: $blue-main);
                text-align: center;
            }
    
            p {
                @include body-font($size: 18px);
                line-height: 36px;
                text-align: justify;
            }
        }

        &--cards {
            @include flex($align: start, $gap: 40px);
            width: 100%;

            > * {
                opacity: 0;
                animation: bounceInShake 0.8s ease-out forwards;
            }
    
            > *:nth-child(1) {
                animation-delay: 0.1s;  
                max-width: calc(100% - 70px);
            }
            
            > *:nth-child(2) {
                animation-delay: 0.2s; 
                max-width: 950px
            }

            > *:nth-child(3) {
                animation-delay: 0.3s; 
                max-height: 400px;
            }
        }
    }

    // Process
    &__process {
        position: relative;
        width: 100%;
        min-height: 100vh; 
        height: auto; 

        &--text {
            @include flex($gap: 40px);

            h3, h2 {
                @include title-font($size: 28px, $weight: 500, $color: #fff);
                text-align: center;
                text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.7);
            }
            
            h2 {
                font-size: 36px;
                font-weight: 700;
                max-width: 600px;
                line-height: 45px;
            }
        }

        &--overlay {
            @include flex($justify: start, $gap: 60px);
            padding: 100px 50px;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100vh; 
            height: auto; 
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        &--requirements {
            @include grid($columns: repeat(auto-fit, minmax(300px, 1fr)));
            row-gap: 60px;
            width: 100%;
            max-width: 975px;
            justify-items: center;

            > * {
                opacity: 0;
                transform: rotateX(-90deg);
                animation: dominoFall 0.8s ease-out forwards;
            }
        
            > *:nth-child(1) { animation-delay: 0.1s; }
            > *:nth-child(2) { animation-delay: 0.2s; }
            > *:nth-child(3) { animation-delay: 0.3s; }
            > *:nth-child(4) { animation-delay: 0.4s; }
            > *:nth-child(5) { animation-delay: 0.5s; }
            > *:nth-child(6) { animation-delay: 0.6s; }
        }

        &--steps {
            @include flex($direction: row, $gap: 80px);
            width: 100%;
            max-width: 1050px;
        }

        &--half {
            @include flex($gap: 40px);
            width: 100%;
            flex: 1;

            > * {
                opacity: 0;
                transform: rotateX(-90deg);
                animation: dominoFall 0.8s ease-out forwards;
            }
        
            > *:nth-child(1) { animation-delay: 0.1s; }
            > *:nth-child(2) { animation-delay: 0.2s; }
            > *:nth-child(3) { animation-delay: 0.3s; }
            > *:nth-child(4) { animation-delay: 0.4s; }
            > *:nth-child(5) { animation-delay: 0.5s; }
        }
    }

    // Destination 
    &__destination {
        @include flex($gap: 60px);
        width: 100%;
        max-width: 1200px;
        padding: 50px 50px 80px;

        h3 {
            @include title-font($size: 28px, $weight: 500, $color: $blue-main);
            text-align: center;
        }

        &--continents {
            @include flex($direction: row, $justify: space-between, $align: start);
            width: 100%;

            > * {
                opacity: 0;
                animation: slideInTop 0.8s ease-out forwards;
            }

            > *:nth-child(1) { animation-delay: 0.1s; }
            > *:nth-child(2) { animation-delay: 0.2s; }
            > *:nth-child(3) { animation-delay: 0.3s; }
            > *:nth-child(4) { animation-delay: 0.4s; }

            &-america, &-africa, &-asia, &-europe {
                @include flex();
                width: 100%;
            }

        }
    }
}

// Responsive medium
@include responsive(medium) {
    .inter-page {
        &__intro {
            &--overlay {
                padding: 40px;
            }

            &--text {
                h1 {
                    font-size: 70px;
                    line-height: 70px;
                    max-width: 500px;
                }
            }
        }

        &__info {
            padding: 40px;
            gap: 30px;

            &--title {
                h2 {
                    font-size: 42px;
                }
            }
    
            &--image {
                &-1 {
                    width: 250px;
                    box-shadow: -14px 14px 0px $green-main;
                }
    
                &-2 {
                    box-shadow: -14px 14px 0px $purple-main;
                }
    
                &-3 {
                    width: 300px;
                    box-shadow: -14px 14px 0px $yellow-main;
                }
            }
    
            &--left, &--right  {
                gap: 50px;
            }
        }

        &__benefits {
            padding: 40px;

            &--cards {
                @include grid($columns: 1fr);
                justify-items: center;

                > *:nth-child(1) {
                    max-width: 600px;
                }

                > *:nth-child(2) {
                    max-width: 600px;
                }
            }
        }

        &__process {
            &--requirements {
                grid-template-columns: 1fr 1fr;
                max-width: 650px;
            }

            &--overlay {
                padding: 100px 40px;
            }
        }

        &__destination {
            padding: 30px 30px 60px;
            max-width: 1000px;
        }
    }
}

// Responsive smedium
@include responsive(smedium) {
    .inter-page {
        &__intro {
            &--text {
                p {
                    font-size: 18px;
                    max-width: 100%;
                }
            }
        }

        &__info {
            @include flex($align: center, $gap: 30px);
    
            &--title {
                @include flex($direction: column, $gap: 10px);
    
                h2 {
                    font-size: 40px;
                    max-width: 500px;
                    text-align: center;
                }
            }
    
            &--image-1, &--image-2, &--image-3 {
                flex-shrink: 1;
            }
    
            &--image {
                &-1 {
                    width: 100%;
                    max-width: 300px;
                    order: 2;
                }

                &-2 {
                    width: 100%;
                    max-width: 250px;
                }
    
                &-3 {
                    width: 100%;
                    max-width: 350px;
                    order: 2;
                }
            }
    
            &--left {
                @include flex($direction: column, $gap: 50px);
            }
    
            &--right {
                @include flex($direction: column, $gap: 50px);
                animation: slideInLeft 0.8s ease-out 0.2s forwards;
            }
    
            &--text {
                font-size: 16px;
                line-height: 30px;
            }
        }

        &__benefits {
            &--text {
                gap: 30px;

                h3 {
                    font-size: 26px;
                }
        
                p {
                    font-size: 14px;
                    line-height: 34px;
                }
            }
        }

        &__process {
            &--text {
                @include flex($gap: 40px);
    
                h3 {
                    font-size: 26px;
                }
    
                h2 {
                    font-size: 32px;
                    line-height: 36px;
                }
            }

            &--requirements {
                grid-template-columns: 1fr;
                max-width: 100%;
            }

            &--overlay {
                padding: 100px 30px;
            }

            &--steps {
                @include flex($gap: 40px);
            }

            &--half {
                > *:nth-child(1) { animation-delay: 0s; }
                > *:nth-child(2) { animation-delay: 0s; }
                > *:nth-child(3) { animation-delay: 0s; }
                > *:nth-child(4) { animation-delay: 0s; }
                > *:nth-child(5) { animation-delay: 0s; }
            }
        }

        &__destination {
            gap: 30px ;
            padding: 50px 40px;

            h3 {
                font-size: 26px;
            }

            &--continents {
                @include flex($direction: column, $gap: 20px);
                width: 100%;

                &-america, &-africa, &-asia, &-europe {
                    @include flex();
                    width: 100%;
                }
            }
        }
    }
}

// Responsive small
@include responsive(small) {
    .inter-page {
        &__intro {
            &--overlay {
                padding: 30px;
            }

            &--text {
                h1 {
                    font-size: 53px;
                    line-height: 53px;
                    max-width: 100%;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        &__info {
            padding: 30px 30px 40px;
        }

        &__benefits {
            padding: 30px;
        }

        &__destination {
            padding: 50px 30px;
        }
    }
}

// Animations
@keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
  
@keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes slideInTop {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes bounceInShake {
    0% {
        opacity: 0;
        transform: translateY(100px) scale(0.95);
    }
    60% {
        transform: translateY(-10px) scale(1.03) rotate(2deg);
    }
    80% {
        transform: translateY(5px) scale(0.98) rotate(-2deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1) rotate(0deg);
    }
}

@keyframes dominoFall {
    0% {
      opacity: 0;
      transform: rotateX(-90deg) translateY(-50px);
    }
    60% {
      transform: rotateX(20deg) translateY(10px);
      opacity: 1;
    }
    100% {
      transform: rotateX(0) translateY(0);
      opacity: 1;
    }
  }