.involve-page {
    position: relative;
    width: 100%;
    min-height: 100vh; 
    height: auto; 
    user-select: none;

    &__overlay {
        @include flex($justify: start, $gap: 100px);
        padding: 100px 50px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh; 
        height: auto; 
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    &__text {
        @include flex($align: start, $gap: 20px);
        width: 100%;
        max-width: 1100px;
        user-select: text;

        h1 {
            @include title-font($size: 80px, $weight: 500, $color: #fff);
            line-height: 60px;
            text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.7);
            width: 100%;
            text-align: start;
        }

        p {
            @include body-font($size: 20px, $color: #fff);
            line-height: 30px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
        }
    }

    &__cards {
        @include flex($direction: row, $justify: space-between);
        width: 100%;
        max-width: 1100px;
    }
}

// Responsive medium
@include responsive(medium) {
    .involve-page {
        &__text {
            h1 {
                font-size: 70px;
            }
        }
        
        &__overlay {
            padding: 100px 40px;
        }

        &__cards {
            @include flex($gap: 60px);
        }
    }
}

// Responsive smedium
@include responsive(smedium) {
    .involve-page {
        &__text {
            h1 {
                font-size: 55px;
            }
    
            p {
                font-size: 16px;
                line-height: 26px;
            }
        }

        &__overlay {
            gap: 60px;
        }
    }
}

// Responsive small
@include responsive(small) {
    .involve-page {
        &__overlay {
            padding: 50px;
        }

        &__text {
            h1 {
                font-size: 44px;
            }
        }
    }
}
