.national-page {
    @include flex();

    //Intro
    &__intro {
        position: relative;
		width: 100%;
		height: 560px;

        &--overlay {
			@include flex();
			position: absolute;
			padding: 50px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.25);
			z-index: 2;
		}

        &--text {
            @include flex($align: start, $gap: 20px);
            width: 100%;
            max-width: 1440px;
            animation: slideInLeft 0.8s ease-out forwards;

            h1 {
				@include title-font($size: 80px, $weight: 500, $color: #fff);
				text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.7);
                width: 100%;
                max-width: 600px;
                text-align: start;
			}

            p {
                @include body-font($size: 20px, $color: #fff);
                line-height: 30px;
                max-width: 800px;
                text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.7);
            }
        }
    }

    // Info
    &__info {
        @include flex($direction: row, $gap: 100px);
        padding: 100px 50px;
        max-width: 1440px;
        animation: fadeInOpacity 0.8s ease-out forwards;

        &--image {
            img {
                object-fit: cover;
                border-radius: 400px 400px 50px 400px;
                box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);
                height: 400px;
                width: 300px;
                min-width: 300px;
            }
        }

        &--cards {
            @include flex($gap: 50px);

            &-top, &-bottom {
                @include flex($direction: row, $gap: 30px);
            }
        }
    }

    // Geography
    &__geography {
        position: relative;
        height: 1000px;
        width: 100%;

        &--image {
            max-height: 800px;
        }

        &--text {
            @include flex($gap: 40px);
            max-width: 1200px;

            h3 {
                @include title-font($size: 28px, $weight: 500, $color: #fff);
                text-align: center;
            }
    
            p {
                @include body-font($size: 18px, $color: #fff);
                line-height: 36px;
                text-align: justify;
            }
        }

        &--overlay {
            @include flex($justify: start, $gap: 60px);
            padding: 100px 50px;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; 
            background: linear-gradient(to left, rgba($blue-main, 0.20), rgba($blue-main, 0.70));
            z-index: 1;
        }

        &--cards {
            @include grid($columns: repeat(auto-fit, minmax(300px, 1fr)));
            width: 100%;
            max-width: 1440px;
            justify-items: center;

            > * {
                animation: dropCard 0.6s ease-out forwards;
            }
        
            > *:nth-child(1) {
                animation-delay: 0s;
            }
        
            > *:nth-child(2) {
                animation-delay: 0.2s;
            }
        
            > *:nth-child(3) {
                animation-delay: 0.4s;
            }
        }
    }

    // Reason
    &__reason {
        @include flex($direction: row);
        margin: 100px 50px;
        max-width: 1200px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);
        
        &--left {
            @include flex($justify: start, $align: start, $gap: 20px);
            flex: 1;
            background-color: #fff;
            border-radius: 20px 0 0 20px;
            padding: 50px;
            height: auto;
            align-self: stretch;
            animation: slideInLeft 0.6s ease-out forwards;

            h3 {
                @include body-font($size: 28px, $weight: 500, $color: $blue-tertiary);
            }

            ul {
                list-style-type: disc;
                padding-left: 20px;
            }

            li {
                @include body-font($size: 18px, $color: $gray-light);
                line-height: 32px;
            }
        }

        &--right {
            @include flex($justify: start, $align: start, $gap: 20px);
            flex: 1;
            background-color: $blue-secondary;
            border-radius: 20px;
            padding: 50px;
            height: auto;
            align-self: stretch;
            box-shadow: -6px 0px 6px rgba(0, 0, 0, 0.3);
            animation: slideInRight 0.6s ease-out forwards;

            h3 {
                @include body-font($size: 28px, $weight: 500, $color: #fff);
            }

            ul {
                list-style-type: disc;
                padding-left: 20px;
            }

            li {
                @include body-font($size: 18px, $color: #fff);
                line-height: 32px;
            }
        }
    }

    &__projects {
        @include flex($gap: 70px);
        padding: 20px 50px 100px;

        h3 {
            @include title-font($size: 28px, $weight: 500, $color: $blue-main);
            text-align: center;
        }

        &--cards {
            @include flex($direction: row, $gap: 100px);
            animation: fadeInOpacity 0.6s ease-out forwards;
        }
    }
}

// Responsive large
@include responsive(large) {
    .national-page {
        &__geography {
            height: 1025px;

            &--cards {
                max-width: 1250px;
            }
        }
    }
}

// Responsive medium
@include responsive(medium) {
    .national-page {
        &__intro {
            &--overlay {
                padding: 40px;
            }

            &--text {
                h1 {
                    font-size: 70px;
                    line-height: 70px;
                    max-width: 500px;
                }
            }
        }

        &__info {
            @include flex($direction: column, $gap: 80px);
            padding: 100px 40px;
    
            &--image {
                @include flex();

                img {
                    border-radius: 30px;
                    height: 350px;
                    width: 80%;
                }
            }
    
            &--cards {
                @include flex($gap: 40px);
    
                &-top, &-bottom {
                    @include flex($direction: row, $gap: 20px);
                }
            }
        }

        &__geography {
            min-height: 100vh; 
            height: auto; 

            &--overlay {
                padding: 80px 40px;
            }

            &--cards {
                max-width: 800px;
                row-gap: 4vw !important;

                > *:nth-child(3) {
                    grid-column: span 2;
                }
            }
        }

        &__reason {
            margin: 100px 40px;
        }

        &__projects {
            padding: 20px 40px 100px;
        }
    }
}

// Responsive smedium
@include responsive(smedium) {
    .national-page {
        &__intro {
            &--text {
                p {
                    font-size: 18px;
                    max-width: 100%;
                }
            }
        }

        &__geography {

            h3 {
                font-size: 26px;
            }
    
            p {
                font-size: 16px;
                line-height: 34px;
            }

            &--cards {
                grid-template-columns: 1fr;
                row-gap: 40px !important;

                > *:nth-child(3) {
                    grid-column: span 1;
                }
            }
        }

        &__reason {
            @include flex($direction: column);
            animation: slideInTop 0.6s ease-out forwards;
            
            &--left {
                @include flex($align: start, $gap: 20px);
                padding: 40px;
                animation: none;
    
                h3 {
                    font-size: 26px;
                }
    
                li {
                    font-size: 16px;
                    line-height: 30px;
                }
            }
    
            &--right {
                @include flex($align: start, $gap: 20px);
                padding: 40px;
                box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.3);
                animation: none;
                width: 100%;
    
                h3 {
                    font-size: 26px;
                }
    
                li {
                    font-size: 16px;
                    line-height: 30px;
                }
            }
        }

        &__projects {
            gap: 60px;
            padding: 20px 40px 100px;

            h3 {
                font-size: 26px;
            }
    
            &--cards {
                @include flex($direction: column, $gap: 80px);
            }
        }
    }
}

// Responsive small
@include responsive(small) {
    .national-page {
        &__intro {
            &--overlay {
                padding: 30px;
            }

            &--text {
                h1 {
                    font-size: 55px;
                    line-height: 55px;
                    max-width: 100%;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        &__info {
            @include flex($direction: column, $gap: 60px);
            padding: 80px 30px;
    
            &--image {
                @include flex();

                img {
                    height: 300px;
                    width: 300px;
                }
            }
    
            &--cards {
                @include flex($direction: column, $align: start, $gap: 45px);
    
                &-top, &-bottom {
                    @include flex($direction: column, $align: start, $gap: 45px);
                }
            }
        }

        &__geography {
            &--overlay {
                padding: 80px 30px;
            }
        }

        &__reason { 
            margin: 80px 30px;

            &--left {
                padding: 25px;
            }
    
            &--right {
                padding: 25px;
            }
        }

        &__projects {
            gap: 60px;
            padding: 20px 30px 100px;

            h3 {
                font-size: 26px;
            }
    
            &--cards {
                @include flex($direction: column, $gap: 80px);
            }
        }
    }
}

// Animations
@keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
  
@keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dropCard {
    from {
      opacity: 0;
      transform: translateY(-30px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
}

@keyframes slideInTop {
    from {
      opacity: 0;
      transform: translateY(-30px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
}