html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.lang-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
.navbar {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar__content {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: start;
  max-width: 1440px;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  position: relative;
}
.navbar__logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.navbar__logo--text {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navbar__logo--text-title {
  font-family: "Aileron", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #355FB5;
  line-height: 30px;
  letter-spacing: 1px;
}
.navbar__logo--text-subtitle {
  font-family: "Aileron", sans-serif;
  font-size: 10.5px;
  font-weight: 400;
  color: #888888;
  line-height: 10.5px;
  white-space: nowrap;
  width: 100%;
}
.navbar__items {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: start;
  list-style-type: none;
}
.navbar__items a {
  text-decoration: none;
}
.navbar__items--text {
  font-family: var(--font-p), sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #747783;
  position: relative;
  display: inline-block;
}
.navbar__items--text-active {
  font-family: var(--font-p), sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1683F0;
}
.navbar__items--text::before {
  content: attr(data-hover);
  color: #1683F0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
}
.navbar__items--text:hover::before {
  width: 100%;
}
@media (max-width: 1200px) {
  .navbar {
    gap: 30px;
  }
  .navbar__logo--text-title {
    font-size: 25px;
  }
  .navbar__logo--text-subtitle {
    font-size: 9px;
  }
  .navbar__logo--world {
    width: 40px !important;
    height: 40px !important;
  }
  .navbar__items {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: start;
  }
  .navbar__items--text {
    font-size: 12px;
  }
  .navbar__items--text-active {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .navbar__content {
    justify-content: space-between;
  }
  .navbar__logo--text-title {
    font-size: 30px;
  }
  .navbar__logo--text-subtitle {
    font-size: 10.5px;
  }
  .navbar__logo--world {
    width: 45px !important;
    height: 45px !important;
  }
  .navbar__items {
    display: none;
  }
  .navbar__language {
    display: none;
  }
}

.footer {
  font-family: var(--font-p), sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 50px 100px 25px 100px;
  background: linear-gradient(to bottom, #355FB5, #17294F 80%);
}
.footer__top {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
}
.footer__top h2 {
  font-family: var(--font-ls), sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 20px;
}
.footer__about {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  justify-content: center;
  text-align: justify;
  max-width: 600px;
  line-height: 28px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  justify-content: center;
  min-width: fit-content;
}
.footer__nav--items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  justify-content: center;
}
.footer__nav--item-text {
  transition: transform 0.3s ease-out;
}
.footer__nav--item-text:hover {
  transform: translateX(20px);
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  justify-content: center;
}
.footer__contact--items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  justify-content: center;
}
.footer__contact--item {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: start;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}
.footer__contact--item:hover {
  transform: translateX(20px);
}
.footer__line {
  background-color: #fff;
  margin: 60px 0px 25px 0px;
  border: none;
  height: 0.1px;
  max-width: 1440px;
  width: 100%;
}
.footer__bottom {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
}
.footer__social-media {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .footer {
    font-size: 12px;
  }
  .footer__top {
    gap: 30px;
  }
  .footer__top h2 {
    text-align: left;
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .footer {
    font-size: 13px;
    padding: 60px 70px 40px 70px;
  }
  .footer__top {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: start;
    justify-content: start;
  }
  .footer__top h2 {
    font-size: 22px;
  }
  .footer__about {
    max-width: fit-content;
  }
  .footer__nav--items {
    gap: 20px;
  }
  .footer__line {
    margin: 40px 0px;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    justify-content: start;
  }
  .footer__bottom--text {
    order: 2;
  }
}
@media (max-width: 550px) {
  .footer {
    font-size: 16px;
    padding: 60px 30px 40px 30px;
  }
  .footer__top {
    gap: 60px;
  }
  .footer__top h2 {
    font-size: 24px;
  }
  .footer__about {
    gap: 25px;
  }
  .footer__nav {
    gap: 25px;
  }
  .footer__contact {
    gap: 25px;
  }
  .footer__contact--items {
    gap: 25px;
  }
}

.carousel {
  position: relative;
  width: 100%;
  height: 560px;
}
.carousel__slide--image {
  width: 100%;
  height: 560px;
  overflow: hidden;
}
.carousel__overlay {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(53, 95, 181, 0.25), rgba(53, 95, 181, 0.85));
  z-index: 10;
}
.carousel__content {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  padding: 0px 100px;
  position: relative;
  z-index: 20;
  color: white;
}
.carousel__content-right {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.7);
  animation: moveInRight 2s ease-out;
}
.carousel__content-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  justify-content: center;
  animation: moveInLeft 2s ease-out;
}
.carousel__content-left h1 {
  font-family: var(--font-ls), sans-serif;
  font-size: 80px;
  font-weight: 500;
  color: #fff;
  line-height: 80px;
  text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.7);
  max-width: 500px;
}
.carousel__logo--world {
  height: 225px;
  width: 225px;
  filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.7));
}
.carousel__logo--text h1 {
  font-family: "Aileron", sans-serif;
  font-size: 130px;
  font-weight: 700;
  color: #fff;
  line-height: 130px;
}
.carousel__logo--text h2 {
  font-family: "Aileron", sans-serif;
  font-size: 45px;
  font-weight: 400;
  color: #fff;
  line-height: 45px;
}
@media (max-width: 1440px) {
  .carousel__content {
    gap: 125px;
  }
  .carousel__content-left h1 {
    font-size: 60px;
    max-width: 350px;
    line-height: 60px;
  }
  .carousel__logo--world {
    height: 200px;
    width: 200px;
  }
  .carousel__logo--text h1 {
    font-size: 100px;
  }
  .carousel__logo--text h2 {
    font-size: 35px;
  }
}
@media (max-width: 1200px) {
  .carousel {
    height: 650px;
  }
  .carousel__slide--image {
    height: 650px;
  }
  .carousel__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: start;
    justify-content: center;
  }
  .carousel__content-right {
    animation: moveInLeft 2s ease-out;
  }
  .carousel__content-left {
    order: 2;
    width: 100%;
  }
  .carousel__content-left h1 {
    font-size: 90px;
    max-width: 100%;
    line-height: 90px;
  }
}
@media (max-width: 800px) {
  .carousel__content {
    gap: 70px;
    padding: 0px 50px;
  }
  .carousel__content-right {
    gap: 20px;
  }
  .carousel__content-left h1 {
    font-size: 60px;
    line-height: 65px;
  }
  .carousel__logo--world {
    height: 175px;
    width: 175px;
  }
  .carousel__logo--text h1 {
    font-size: 75px;
    line-height: 75px;
  }
  .carousel__logo--text h2 {
    font-size: 26px;
  }
}
@media (max-width: 550px) {
  .carousel {
    height: 475px;
  }
  .carousel__slide--image {
    height: 475px;
  }
  .carousel__content {
    padding: 0px 30px;
    gap: 30px;
  }
  .carousel__content-left h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .carousel__logo--world {
    height: 110px;
    width: 110px;
  }
  .carousel__logo--text h1 {
    font-size: 58px;
    line-height: 70px;
  }
  .carousel__logo--text h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.slider {
  width: 100vw;
  max-width: 100vw;
  z-index: 20;
}
.slider .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin-bottom: 30px;
}
.slider__button--prev, .slider__button--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.slider__button--prev svg, .slider__button--next svg {
  width: 60px;
  height: 60px;
}
.slider__button--next {
  right: 30px;
}
.slider__button--next:hover {
  transform: translate(15px, -50%);
}
.slider__button--prev {
  left: 30px;
}
.slider__button--prev:hover {
  transform: translate(-15px, -50%);
}
.slider .swiper-pagination {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.slider .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.6;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.slider .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}
@media (max-width: 1200px) {
  .slider .swiper-slide {
    height: 525px;
    margin-bottom: 50px;
  }
  .slider__button--next {
    right: 10px;
  }
  .slider__button--prev {
    left: 10px;
  }
}
@media (max-width: 800px) {
  .slider .swiper-slide {
    height: 600px;
    margin-bottom: 70px;
  }
  .slider__button--next, .slider__button--prev {
    display: none;
  }
}
@media (max-width: 550px) {
  .slider .swiper-slide {
    padding: 0px 40px;
    margin-bottom: 60px;
  }
}

.button--secondary {
  font-family: var(--font-p), sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #1683F0;
  background-color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  padding: 10px 24px;
  transition: 0.5s;
  position: relative;
  transition: all 0.2s;
}
.button--secondary:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 550px) {
  .button--secondary {
    font-size: 16px;
    padding: 8px 20px;
  }
}

.ham-dropdown {
  display: none;
}
.ham-dropdown__button:focus {
  outline: none;
}
.ham-dropdown__icon {
  color: #355FB5;
}
.ham-dropdown__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: center;
  background-color: #355FB5;
  margin-top: 25px;
  border-radius: 12px;
  padding: 20px 50px 25px 25px;
  width: 225px;
}
.ham-dropdown__content .language-button {
  box-shadow: none;
}
.ham-dropdown__content .language-button__text {
  color: #41424A;
}
.ham-dropdown__item {
  transition: transform 0.3s ease-out;
  outline: none;
}
.ham-dropdown__item:focus {
  outline: none;
}
.ham-dropdown__item .chakra-menu__item {
  font-family: var(--font-p), sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding: 8px 0px;
  background-color: transparent;
}
.ham-dropdown__item .chakra-menu__item:focus {
  outline: none;
}
.ham-dropdown__item:hover {
  transform: translateX(6px);
}
.ham-dropdown__item-active {
  font-weight: 600;
}
.ham-dropdown__item-active:hover {
  transform: translateX(6px);
}
@media (max-width: 800px) {
  .ham-dropdown {
    display: block;
  }
}
@media (max-width: 550px) {
  .ham-dropdown__content {
    width: 90vw;
    gap: 15px;
    padding-bottom: 30px;
  }
  .ham-dropdown__content .language-button {
    transition: transform 0.3s ease-out;
    width: 150px;
    height: 40px;
  }
  .ham-dropdown__content .language-button__icon {
    height: 40px;
    width: 40px;
  }
  .ham-dropdown__content .language-button__text {
    font-size: 16px;
    margin-left: 20px;
  }
  .ham-dropdown__content .language-button:hover {
    width: 150px;
    transform: translateX(10px);
  }
  .ham-dropdown__item .chakra-menu__item {
    font-size: 20px;
    padding: 14px 0px;
    background-color: transparent;
  }
}

.language-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease-out;
  overflow: hidden;
}
.language-button__icon {
  flex-shrink: 0;
  border-radius: 50px;
  box-sizing: border-box;
}
.language-button__text {
  font-family: var(--font-p), sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #747783;
  margin-left: 12px;
  white-space: nowrap;
}
.language-button:hover {
  width: 110px;
}

.fold-button {
  display: flex;
  align-items: center;
  height: 32px;
  width: 30px;
  cursor: pointer;
  transition: width 0.3s ease-out;
  overflow: hidden;
}
.fold-button__icon {
  flex-shrink: 0;
  box-sizing: border-box;
}
.fold-button__text {
  font-family: var(--font-p), sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  margin-left: 12px;
  white-space: nowrap;
}
.fold-button:hover {
  width: 120px;
}
@media (max-width: 800px) {
  .fold-button {
    transition: transform 0.3s ease-out;
  }
  .fold-button:hover {
    width: 30px;
    transform: scale(1.3);
  }
}

.more-card {
  position: relative;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 400px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}
.more-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}
.more-card__image-wrapper {
  position: relative;
  height: 150px;
  width: 100%;
  overflow: hidden;
}
.more-card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.more-card__image--text {
  font-family: var(--font-p), sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: fit-content;
  border-top-right-radius: 8px;
  padding: 5px 15px;
}
.more-card__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: start;
  font-family: var(--font-p), sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #747783;
  padding: 15px 25px;
}
.more-card__title {
  color: #41424A;
  font-weight: 600;
}
.more-card__body {
  font-size: 16px;
}
.more-card__button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: start;
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
}
.more-card__button p {
  font-weight: 500;
  font-size: 18px;
}
.more-card__button svg {
  width: 30px;
  height: 30px;
}
@media (max-width: 1200px) {
  .more-card {
    width: 325px;
    height: 415px;
  }
}
@media (max-width: 800px) {
  .more-card {
    width: 325px;
    height: fit-content;
  }
  .more-card__button {
    position: relative;
    margin-top: 30px;
  }
}
@media (max-width: 550px) {
  .more-card {
    width: 300px;
  }
}

.circle-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  border-width: 22px !important;
  background-color: #fff;
  width: 300px;
  height: 300px;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.circle-card:hover {
  transform: scale(1.15) rotate(10deg);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.circle-card p {
  font-family: var(--font-p), sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #747783;
  max-width: 200px;
  line-height: 28px;
}
@media (max-width: 800px) {
  .circle-card {
    width: 250px;
    height: 250px;
    border-width: 16px !important;
  }
  .circle-card p {
    font-size: 18px;
    line-height: 20px;
    max-width: 150px;
  }
}

.wide-card {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 850px;
  height: 450px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 0.8s ease-out forwards;
}
.wide-card__wrapper {
  position: relative;
  width: 500px;
  height: 100%;
}
.wide-card__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px;
}
.wide-card__body h4 {
  font-family: var(--font-p), sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #41424A;
  width: 100%;
}
.wide-card__body p {
  font-family: var(--font-p), sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #747783;
}
@media (max-width: 1200px) {
  .wide-card {
    width: 650px;
    height: 500px;
  }
}
@media (max-width: 800px) {
  .wide-card {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: 475px;
    height: 700px;
  }
}
@media (max-width: 550px) {
  .wide-card {
    width: 100%;
    height: 700px;
    max-height: fit-content;
    justify-content: start;
  }
  .wide-card__wrapper {
    height: 300px;
  }
  .wide-card__body {
    padding: 25px;
  }
  .wide-card__body h4 {
    font-size: 20px;
  }
  .wide-card__body p {
    font-size: 14px;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.oval-card {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: start;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.25);
  width: 325px;
  border-radius: 200px 200px 50px 50px;
  min-width: 0;
}
.oval-card__image {
  width: 45%;
}
.oval-card__image--wrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 325px;
  border-radius: 200px;
  border-width: 22px !important;
}
.oval-card__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: start;
  width: 100%;
  padding: 10px 30px 40px 30px;
}
.oval-card h2 {
  font-family: var(--font-p), sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #747783;
}
.oval-card p, .oval-card li {
  font-family: var(--font-p), sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #747783;
  line-height: 28px;
}
.oval-card ul {
  list-style-type: disc;
  padding-left: 20px;
}
@media (max-width: 1200px) {
  .oval-card {
    border-radius: 30px;
    margin: 80px;
  }
  .oval-card__image {
    width: 55%;
  }
  .oval-card__image--wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 175px;
    height: 175px;
    border-radius: 200px;
    border-width: 12px !important;
  }
  .oval-card__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: start;
    padding: 100px 30px 40px 30px;
    margin-bottom: 0px;
  }
  .oval-card h2 {
    font-size: 26px;
  }
  .oval-card p, .oval-card li {
    font-size: 14px;
    line-height: 26px;
  }
}
@media (max-width: 800px) {
  .oval-card {
    width: 350px;
  }
}
@media (max-width: 550px) {
  .oval-card {
    width: 100%;
  }
}

.home-page {
  font-family: var(--font-p), sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #747783;
}
.home-page__involve {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 50px 25px 80px 25px;
}
.home-page__involve h3 {
  font-family: var(--font-ls), sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #355FB5;
  line-height: 28px;
}
.home-page__involve--cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto auto;
  gap: 0px;
  width: 100%;
  max-width: 1200px;
  justify-items: center;
  margin: 0 auto;
}
.home-page__involve--cards > * {
  opacity: 0;
  animation: fadeInOpacity 0.8s ease-out forwards;
}
.home-page__involve--cards > *:nth-child(1) {
  animation-delay: 0.1s;
}
.home-page__involve--cards > *:nth-child(2) {
  animation-delay: 0.2s;
}
.home-page__involve--cards > *:nth-child(3) {
  animation-delay: 0.3s;
}
.home-page__quote {
  position: relative;
  width: 100%;
  height: 400px;
}
.home-page__quote--content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 1200px;
  width: 100%;
  animation: fadeIn 1s ease-out;
}
.home-page__quote--fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mask-image: radial-gradient(circle at center, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(circle at center, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  transition: opacity 0.5s ease;
}
.home-page__quote h3, .home-page__quote p {
  font-family: var(--font-p), sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #41424A;
  text-align: start;
  line-height: 45px;
}
.home-page__quote p {
  font-size: 20px;
  color: #747783;
  margin-top: 30px;
}
.home-page__volunteering {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 50px 25px 80px 25px;
}
.home-page__volunteering h3 {
  font-family: var(--font-ls), sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #355FB5;
  line-height: 28px;
}
.home-page__volunteering--cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto auto;
  gap: 0px;
  width: 100%;
  max-width: 1200px;
  justify-items: center;
  margin: 0 auto;
}
.home-page__volunteering--cards > * {
  opacity: 0;
  animation: fadeInOpacity 0.8s ease-out forwards;
}
.home-page__volunteering--cards > *:nth-child(1) {
  animation-delay: 0.1s;
}
.home-page__volunteering--cards > *:nth-child(2) {
  animation-delay: 0.2s;
}
.home-page__volunteering--cards > *:nth-child(3) {
  animation-delay: 0.3s;
}
.home-page__testimonials {
  position: relative;
  height: 700px;
}
.home-page__testimonials h3 {
  font-family: var(--font-ls), sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  line-height: 28px;
  position: relative;
  z-index: 3;
  text-align: center;
}
.home-page__testimonials--overlay {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(53, 95, 181, 0.25), rgba(53, 95, 181, 0.85));
  z-index: 1;
}
.home-page__alliances {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  padding: 50px 25px 80px 25px;
}
.home-page__alliances h3 {
  font-family: var(--font-ls), sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #355FB5;
  line-height: 28px;
}
.home-page__alliances--content {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  animation: fadeInOpacity 0.8s ease-out forwards;
}
.home-page__alliances--alliance {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: start;
}
.home-page__alliances--alliance h3, .home-page__alliances--alliance h2 {
  font-family: var(--font-p), sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #747783;
  text-align: center;
}
.home-page__alliances--alliance h2 {
  font-size: 22px;
  color: #41424A;
}
.home-page__alliances--icye {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.7));
}
.home-page__alliances--wrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  height: 270px;
}
@media (max-width: 1440px) {
  .home-page__quote {
    height: 450px;
  }
  .home-page__quote--content {
    padding: 0 100px;
  }
  .home-page__quote p {
    margin-top: 20px;
  }
}
@media (max-width: 1200px) {
  .home-page__involve--cards {
    row-gap: 50px !important;
    max-width: 750px;
  }
  .home-page__involve--cards > *:nth-child(3) {
    grid-column: span 2;
  }
  .home-page__volunteering--cards {
    row-gap: 20px !important;
    max-width: 700px;
  }
  .home-page__volunteering--cards > *:nth-child(3) {
    grid-column: span 2;
  }
  .home-page__testimonials {
    height: 800px;
  }
  .home-page__testimonials--overlay {
    gap: 40px;
  }
  .home-page__alliances--content {
    gap: 10px;
  }
}
@media (max-width: 800px) {
  .home-page__involve h3 {
    font-size: 26px;
  }
  .home-page__involve--cards {
    grid-template-columns: 1fr;
  }
  .home-page__involve--cards > *:nth-child(3) {
    grid-column: span 1;
  }
  .home-page__volunteering h3 {
    font-size: 26px;
  }
  .home-page__volunteering--cards {
    row-gap: 50px !important;
    grid-template-columns: 1fr;
  }
  .home-page__volunteering--cards > *:nth-child(3) {
    grid-column: span 1;
  }
  .home-page__quote {
    height: 500px;
  }
  .home-page__quote--content {
    padding: 0 70px;
  }
  .home-page__quote h3 {
    font-size: 25px;
    line-height: 35px;
  }
  .home-page__quote p {
    font-size: 18px;
    margin-top: 10px;
  }
  .home-page__testimonials {
    height: 875px;
  }
  .home-page__testimonials--overlay {
    gap: 50px;
  }
  .home-page__testimonials h3 {
    font-size: 26px;
  }
  .home-page__alliances h3 {
    font-size: 26px;
  }
  .home-page__alliances--content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .home-page__alliances--alliance h3, .home-page__alliances--alliance h2 {
    display: none;
  }
  .home-page__alliances--wrapper {
    height: fit-content;
  }
}
@media (max-width: 550px) {
  .home-page__quote {
    height: 525px;
  }
  .home-page__quote--content {
    padding: 0 40px;
  }
  .home-page__quote h3 {
    font-size: 23px;
    line-height: 35px;
  }
  .home-page__quote p {
    font-size: 20px;
  }
  .home-page__testimonials {
    height: 875px;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.about-page {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
}
.about-page__intro {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin-top: 80px;
  padding: 0px 50px;
}
.about-page__intro--image {
  border-radius: 15px;
  box-shadow: -18px 18px 0px #2087C9;
  height: auto;
  width: 450px;
  animation: slideInLeft 0.8s ease-out 0.2s forwards;
}
.about-page__intro--text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;
  justify-content: center;
  max-width: 650px;
  text-align: justify;
  animation: slideInRight 0.8s ease-out 0.2s forwards;
}
.about-page__intro--text h2 {
  font-family: var(--font-ls), sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #1683F0;
  line-height: 45px;
}
.about-page__intro--text p {
  font-family: var(--font-p), sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #747783;
  line-height: 32px;
}
.about-page__middle {
  display: flex;
  flex-direction: row;
  gap: 95px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin-top: 60px;
  padding: 0px 50px;
}
.about-page__middle--image {
  border-radius: 15px;
  box-shadow: -18px 18px 0px #FFDE59;
  object-fit: cover;
  height: 300px;
  width: 450px;
  animation: slideInRight 0.8s ease-out 0.2s forwards;
}
.about-page__middle--text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;
  justify-content: center;
  max-width: 650px;
  text-align: justify;
  animation: slideInLeft 0.8s ease-out 0.2s forwards;
}
.about-page__middle--text ul {
  list-style-type: disc;
  padding-left: 20px;
}
.about-page__middle--text p, .about-page__middle--text li {
  font-family: var(--font-p), sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #747783;
  line-height: 32px;
}
.about-page__philosophy {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto auto;
  gap: 0px;
  width: 100%;
  max-width: 1350px;
  justify-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0px 50px;
}
.about-page__philosophy > * {
  opacity: 0;
  animation: bounceInShake 0.8s ease-out forwards;
}
.about-page__philosophy > *:nth-child(1) {
  animation-delay: 0.1s;
}
.about-page__philosophy > *:nth-child(2) {
  animation-delay: 0.2s;
}
.about-page__philosophy > *:nth-child(3) {
  animation-delay: 0.3s;
}
@media (max-width: 1200px) {
  .about-page__intro, .about-page__middle {
    gap: 50px;
  }
  .about-page__intro--image, .about-page__middle--image {
    box-shadow: -14px 14px 0px #2087C9;
  }
  .about-page__intro--text, .about-page__middle--text {
    gap: 15px;
  }
  .about-page__intro--text h2, .about-page__middle--text h2 {
    font-size: 40px;
  }
  .about-page__middle--image {
    box-shadow: -14px 14px 0px #FFDE59;
  }
  .about-page__philosophy {
    max-width: 950px;
    margin-bottom: 0px;
  }
  .about-page__philosophy > *:nth-child(3) {
    grid-column: span 2;
  }
}
@media (max-width: 800px) {
  .about-page__intro {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .about-page__intro--image {
    order: 2;
  }
  .about-page__intro--text {
    max-width: 100%;
    gap: 10px;
    animation: slideInLeft 0.8s ease-out 0.2s forwards;
  }
  .about-page__intro--text h2 {
    font-size: 36px;
  }
  .about-page__intro--text p {
    font-size: 16px;
  }
  .about-page__middle {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .about-page__middle--image {
    animation: slideInLeft 0.8s ease-out 0.2s forwards;
  }
  .about-page__middle--text {
    max-width: 100%;
    gap: 10px;
  }
  .about-page__middle--text p, .about-page__middle--text li {
    font-size: 16px;
  }
  .about-page__philosophy {
    grid-template-columns: 1fr;
    padding: 0px 40px;
    margin-top: 100px;
  }
  .about-page__philosophy > *:nth-child(3) {
    grid-column: span 1;
  }
}
@media (max-width: 550px) {
  .about-page__intro, .about-page__middle {
    padding: 0px 40px;
  }
  .about-page__intro--image, .about-page__middle--image {
    width: auto;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bounceInShake {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0.95);
  }
  60% {
    transform: translateY(-10px) scale(1.03) rotate(2deg);
  }
  80% {
    transform: translateY(5px) scale(0.98) rotate(-2deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0deg);
  }
}
body {
  background-color: #f5f5f5;
}/*# sourceMappingURL=styles.css.map */