html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  height: 70px;
  padding: 0 20px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar__logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.navbar__logo--text {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navbar__logo--text-title {
  font-family: "Aileron", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #355FB5;
  line-height: 30px;
  letter-spacing: 1px;
}
.navbar__logo--text-subtitle {
  font-family: "Aileron", sans-serif;
  font-size: 10.5px;
  font-weight: 400;
  color: #888888;
  line-height: 10.5px;
  white-space: nowrap;
  width: 100%;
}
.navbar__items {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: start;
  list-style-type: none;
  width: 100%;
}
.navbar__items a {
  text-decoration: none;
}
.navbar__items--text {
  font-family: var(--font-p), sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #747783;
  position: relative;
  display: inline-block;
}
.navbar__items--text-active {
  font-family: var(--font-p), sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1683F0;
}
.navbar__items--text::before {
  content: attr(data-hover);
  color: #1683F0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
}
.navbar__items--text:hover::before {
  width: 100%;
}

.toggle {
  display: inline-flex;
  align-items: center;
  width: 50px;
  height: 25px;
  background-color: #355FB5;
  border-radius: 20px;
  position: relative;
  transition: background-color 0.4s ease-in-out;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.toggle__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.toggle__button {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: white;
  border: none;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}
.toggle__button.toggled {
  transform: translateX(100%);
}
.toggle__button:focus {
  outline: none;
}

.home {
  font-family: var(--font-p), sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #747783;
}

body {
  background-color: #f5f5f5;
}/*# sourceMappingURL=styles.css.map */