.carousel {
    position: relative;
    width: 100%;
    height: 650px;
    user-select: none;

    &__slide {
        &--image {
            width: 100%;
            height: 650px;
            overflow: hidden
        }
    }

    &__overlay {
        @include flex();
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        background: linear-gradient(to left, rgba($blue-main, 0.20), rgba($blue-main, 0.70));
        z-index: 10;
    }

    &__content {
        @include flex($direction: row, $gap: 100px);
        width: 100%;
        max-width: 1440px;
        padding: 0px 100px;
        position: relative;
        z-index: 20;
        color: white; 

        &-right {
            @include flex($direction: row, $gap: 30px);
            text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.7);
            animation: slideBounceInRight 0.8s ease-out;
        }

        &-left {
            @include flex($align: start, $gap: 30px);
            animation: slideBounceInLeft 0.8s ease-out;
            
            h1 {
                @include title-font($size: 70px, $weight: 500, $color: #fff);
                text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.7);
                line-height: 80px;
                max-width: 500px;
            }
        }
    }

    &__logo {
        &--world {
            height: 225px;
            width: 225px;
            filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.7));
        }

        &--text {
            max-width: 380px;
            
            h2 {
                @include logo-font($size: 124px, $color: #fff);
                line-height: 134px;
            }

            h3 {
                @include logo-font($size: 41px, $weight: 400, $color: #fff);
            }
        }
    }

    @include responsive(large) {
        &__content {
            gap: 125px;
    
            &-left {
                h1 {
                    font-size: 50px;
                    max-width: 350px;
                    line-height: 60px;
                }
            }
        }
    
        &__logo {
            &--world {
                height: 200px;
                width: 200px;
            }
    
            &--text {
                h2 {
                    font-size: 97px;
                    line-height: 97px;
                }
    
                h3 {
                    font-size: 32px;
                }
            }
        }
    }

    @include responsive(medium) {
        height: 650px;

        &__slide {
            &--image {
                height: 650px;
            }
        }

        &__content {
            @include flex($direction: column, $align: start, $gap: 60px);

            &-right {
                animation: slideBounceInLeft 0.8s ease-out;
            }
    
            &-left {
                order: 2;
                width: 100%;
                
                h1 {
                    font-size: 80px;
                    max-width: 100%;
                    line-height: 90px;
                }
            }
        }

        
    }

    @include responsive(smedium) {
        &__content {
            gap: 70px;
            padding: 0px 50px;

            &-right {
                gap: 20px;
            }
            
            &-left {
                h1 {
                    font-size: 60px;
                    line-height: 70px;
                }
            }
        }

        &__logo {
            &--world {
                height: 175px;
                width: 175px;
            }
    
            &--text {
                h2 {
                    font-size: 75px;
                    line-height: 75px;
                }
    
                h3 {
                    font-size: 25px;
                }
            }
        }
    }

    @include responsive(small) {
        height: 475px;

        &__slide {
            &--image {
                height: 475px;
            }
        }

        &__content {
            padding: 0px 30px;
            gap: 30px;
            
            &-left {
                h1 {
                    font-size: 42px;
                    line-height: 52px;
                }
            }
        }

        &__logo {
            &--world {
                height: 110px;
                width: 110px;
            }
    
            &--text {
                h2 {
                    font-size: 58px;
                    line-height: 70px;
                }
    
                h3 {
                    font-size: 19px;
                    line-height: 20px;
                }
            }
        }
    }
}

// Animation
@keyframes slideBounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  60% {
    opacity: 1;
    transform: translateX(20px); 
  }
  80% {
    transform: translateX(-10px); 
  }
  100% {
    transform: translateX(0); 
  }
}

@keyframes slideBounceInRight {
  0% {
    opacity: 0;
    transform: translateX(150px); 
  }
  60% {
    opacity: 1;
    transform: translateX(-20px); 
  }
  80% {
    transform: translateX(10px); 
  }
  100% {
    transform: translateX(0); 
  }
}
