.footer {
    @include body-font($color: #fff, $size: 14px);
    @include flex();
    margin-top: auto;
    padding: 50px 100px 25px 100px;
    background: linear-gradient(to bottom, $blue-secondary, $blue-dark 80%);
    
    &__top {
        @include flex($direction: row, $justify: space-between, $align: start, $gap: 50px);
        width: 100%;
        max-width: 1440px;

        h2 {
            @include title-font($color: #fff, $size: 20px);
        }
    }

    &__about {
        @include flex($align: start, $gap: 15px);
        text-align: justify;
        max-width: 600px;
        line-height: 28px;
    }

    &__nav {
        @include flex($align: start, $gap: 15px);
        min-width: fit-content;

        &--items {
            @include flex($align: start, $gap: 5px);

            li {
                text-align: left;
                cursor: pointer;
                transition: transform 0.3s ease-out;

                &:hover {
                    transform: translateX(10px);
                }
            }
        }
    }

    &__contact {
        @include flex($align: start, $gap: 15px);

        &--items {
            @include flex($align: start, $gap: 15px);
        }

        &--item {
            @include flex($direction: row, $justify: start, $gap: 12px);
            transition: transform 0.3s ease-out;
            cursor: pointer;

            &:hover {
                transform: translateX(10px);
            }
        }
    }

    &__line {
        background-color: #fff;
        margin: 60px 0px 25px 0px;
        border: none;
        height: 0.1px;
        max-width: 1440px;
        width: 100%;
    }

    &__bottom {
        @include flex($direction: row, $justify: space-between);
        max-width: 1440px;
        width: 100%;
    }

    &__social-media {
        @include flex($direction: row, $gap: 25px);
    }

    @include responsive(medium) {
        font-size: 12px;

        &__top {
            gap: 30px;
        
            h2 {
                text-align: left;
                font-size: 18px;
            }
        }
    }

    @include responsive(smedium) {
        font-size: 13px;
        padding: 60px 70px 40px 70px;

        &__top {
            @include flex($direction: column, $justify: start, $align: start, $gap: 50px);
    
            h2 {
                font-size: 22px;
            }
        }

        &__about {
            max-width: fit-content;
        }

        &__nav {
            &--items {
                gap: 20px
            }
        }

        &__line {
            margin: 40px 0px;
        }

        &__bottom {
            @include flex($direction: column, $justify: start, $align: start, $gap: 30px);

            &--text {
                order: 2;
            }
        }
    }

    @include responsive(small) {
        font-size: 16px;
        padding: 60px 30px 40px 30px;

        &__top {
            gap: 60px;
    
            h2 {
                font-size: 24px;
            }
        }

        &__about {
            gap: 25px;
        }

        &__nav {
            gap: 25px;
        }

        &__contact {
            gap: 25px;

            &--items {
                gap: 25px;
            }
        }
    }
}