.credits-card {
    @include flex($align: start, $gap: 20px);
    position: relative;
    padding: 110px 40px 40px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    
    &__image {
        position: absolute;
        top: -200px;
        left: 50%;
        transform: translate(-50%, 50%);
        border-radius: 50%;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
        border: 10px solid #fff;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 0%;
            transform: scale(1.1);
        }
    }

    &__close {
        position: absolute;
        right: 80px;
        top: 55px;
        z-index: 10;
        cursor: pointer;

        img {
            width: 20px !important;
            height: 20px !important;
        }
    }

    h4 {
        @include title-font($size: 28px, $color: $blue-tertiary);
    }

    h5 {
        @include title-font($size: 20px, $color: $gray-dark);
    }

    &__content {
        @include flex($align: start, $gap: 30px);

        &--info {
            @include flex($direction: row, $justify: start, $gap: 20px);
            @include body-font($size: 18px);
            overflow-wrap: break-word; 
            word-break: break-word;
        }
    }
}

[data-dialog-type="credits"]  {
    position: relative;
    max-width: 700px;
    height: fit-content;
    max-height: 100vh;
    padding: 25px 50px;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    animation: zoomFadeIn 0.4s ease-out both;
}

// Responsive medium
@include responsive(medium) {
    [data-dialog-type="credits"]  {
        padding: 25px 40px;
    }
}

// Responsive smedium
@include responsive(smedium) {
    .credits-card {
        h4 {
            font-size: 26px;
        }
    
        h5 {
            font-size: 18px;
        }

        &__content {
            &--info {
                font-size: 16px;
            }
        }
    }
}

// Responsive small
@include responsive(small) {
    .credits-card {
        padding: 90px 30px 40px;

        h4 {
            line-height: 30px;
            text-align: center;
        }
    
        h5 {
            line-height: 22px;
            text-align: center;
        }

        &__image {
            top: -150px;
            height: 150px;
            width: 150px;
        }

        &__content {
            &--info {
                line-height: 20px;
            }
        }

        &__close {
            right: 55px;
            top: 50px;
        }
    
    }

    [data-dialog-type="credits"]  {
        padding: 25px 30px;
    }
}