.wide-card {
    @include flex($direction: row);
    background-color: #fff;
    width: 850px;
    height: 450px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.8s ease-out forwards;

    &__wrapper {
        position: relative;
        width: 500px;
        height: 100%;
    }

    &__body {
        @include flex($gap: 10px);
        width: 100%;
        padding: 40px;

        h4 {
            @include body-font($size: 22px, $weight: 600, $color: $gray-dark);
            width: 100%;
        }

        p {
            @include body-font($size: 16px);
        }
    }

    @include responsive(medium) {
        width: 650px;
        height: 500px;
    }

    @include responsive(smedium) {
        @include flex($direction: column);
        width: 475px;
        height: 700px;
    }

    @include responsive(small) {
        width: 100%;
        height: 700px;
        max-height: fit-content;
        justify-content: start;

        &__wrapper {
            height: 300px;
        }

        &__body {
            padding: 25px;
    
            h4 {
                font-size: 20px;
            }
    
            p {
                font-size: 14px;
            }
        }
    }
}

// Animations

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }